@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app.show-menu #asideMenu {
  display: block;
}

#app.show-menu #hamburgerBtn {
  transform: translateX(calc(-100% - 2rem)); /* theme(spacing.8) */
  color: white;
}
