@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --menu-width: 20rem;
}

#app.show-menu #asideMenu {
  display: block;
}

#app.show-menu #hamburgerBtn {
  left: -5rem;
  color: white;
}

#app.show-menu #content {
  width: calc(100vw - var(--menu-width));
}

#app:not(.show-menu) #content {
  overflow: hidden;
}

[role="tab"].active {
  border-color: rgb(9, 62, 165);
  color: rgb(48, 144, 243);
  pointer-events: none;
}
